* {
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a,
a:hover,
a:focus,
a:visited {
    display: block;
    text-decoration: none;
    color: #999;
    outline: 0;
}

#pager .header-shell {
    border-bottom: 1px solid #F4F4F4;
}

#pager .header {
    width: 1190px;
    height: 60px;
    margin: 0 auto;
}

#pager .header .hao123-logo {
    float: left;
}

#pager .header .hao123-logo a img {
    width: 190px;
    height: 60px;
}

#pager .header .hao123-col .weather {
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

#pager .header .hao123-col .weather:hover {
    background-color: #F7F7F7;
}

#pager .header .hao123-col .weather a {
    display: block;
    float: left;
    line-height: 60px;
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    height: 60px;
}

#pager .header .hao123-col .weather .weahterinfo-temperature {
    font-family: 'arial';
    margin-left: 8px;
}

#pager .header .hao123-col .weather .weather-pm25 span {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    background-color: #ccc;
    color: #fff;
    border-radius: 2px;
}

#pager .header .hao123-col .calendar {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .header .hao123-col .calendar a {
    display: inline-block;
    font-size: 12px;
    height: 60px;
}

#pager .header .hao123-col .hao123-star {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .header .hao123-col .hao123-star span {
    display: inline-block;
    font-size: 12px;
    height: 60px;
}

#pager .header .hao123-links {
    float: right;
}

#pager .header .hao123-links div {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .header .hao123-links span {
    display: block;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    height: 60px;
}

#pager .header .head-joke {
    float: right;
    margin-left: 20px;
    line-height: 60px;
    height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .search-panel {
    width: 1190px;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
}

#pager .search-panel .search {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}

#pager .search-panel .baidu-logo {
    float: left;
}

#pager .search-panel .baidu-logo a {
    width: 120px;
    height: 40px;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/0W/zO/-A/q4/0Z/4/index_widthlg.png) -10px -212px no-repeat;
}

#pager .search-panel .form-shell {
    float: left;
    margin-left: 20px;
    position: relative;
}

#pager .search-panel .form-shell .input-shell {
    border: 1px solid #666;
    border-right: 0;
    width: 540px;
    height: 46px;
    line-height: 46px;
    float: left;
    position: relative;
}

#pager .search-panel .form-shell .input-shell input {
    width: 470px;
    height: 23px;
    margin: 0 0 0 65px;
    border: 0;
    outline: 0;
    font: 16px arial;
}

#pager .search-panel .form-shell .input-shell .hotword .hot-num {
    display: block;
    position: absolute;
    right: 5px;
    top: 15px;
    width: 18px;
    height: 18px;
    text-indent: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/H4/69/JL/C-/zO/sug_icon.png) no-repeat;
    line-height: 18px;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
}

#pager .search-panel .form-shell .button-shell {
    float: left;
}

#pager .search-panel .form-shell .button-shell input {
    width: 120px;
    height: 46px;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/0W/zO/-A/q4/0Z/4/index_widthlg.png) no-repeat -211px -180px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

#pager .search-panel .form-shell .menu {
    position: absolute;
    height: 46px;
    line-height: 46px;
    margin-left: 10px;
}

#pager .search-panel .form-shell .menu span {
    font: normal 12px/45px simsun;
}

#pager .search-panel .form-shell .menu-tab {
    position: absolute;
    border: 1px solid #666;
    top: 45px;
    background-color: #fff;
    border-top: 0;
    z-index: 1;
    display: none;
}

#pager .search-panel .form-shell .menu-tab a {
    padding-left: 10px;
    font: normal 12px/24px simsun;
    width: 45px;
    height: 24px;
}

#pager .search-panel .form-shell .menu-tab a:hover {
    background: #f1f1f1;
    color: #999;
}

#pager .search-panel .notice {
    float: left;
    width: 120px;
    margin-left: 50px;
    padding-top: 25px;
    height: 60px;
}

#pager .search-panel .notice span {
    display: block;
    float: left;
    width: 11px;
    height: 16px;
    line-height: 14px;
    margin-top: 2px;
    color: #fff;
    font-weight: bold;
    background: url('https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v4/Z8/OG/D1/3Q/dD/index_icon.png') no-repeat -34px -1327px;
}

#pager .search-panel .notice ul li {
    font-size: 12px;
    color: #666;
}

#pager .hot-search {
    width: 1000px;
    margin: 0 auto;
}

#pager .hot-search .boxhot {
    margin-left: 140px;
}

#pager .hot-search .boxhot .title {
    float: left;
    margin-right: 6px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

#pager .hot-search .boxhot .title .hotsearch-link {
    padding-left: 15px;
    padding-bottom: 1px;
    height: 20px;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/0W/zO/-A/q4/0Z/4/index_widthlg.png) -159px -260px no-repeat;
}

#pager .hot-search .boxhot .text {
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

#pager .hao123-body {
    width: 1190px;
    margin: 0 auto;
}

#pager .hao123-body .menus {
    border-top: 2px solid #0aa770;
}

#pager .hao123-body .menus ul .menu.first {
    width: 80px;
    background: #0aa770;
}

#pager .hao123-body .menus ul .menu.first a .title {
    color: white;
}

#pager .hao123-body .menus ul .menu {
    display: block;
    float: left;
    cursor: pointer;
    font-size: 16px;
    font-family: Microsoft Yahei;
    text-align: center;
    height: 38px;
    line-height: 38px;
    width: 111px;
    position: relative;
}

#pager .hao123-body .menus ul .menu .title {
    color: #333;
}

#pager .hao123-body .menus ul .menu .menu-split {
    display: block;
    position: absolute;
    width: 1px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/dU/1s/Aa/af/gO/3/menus_split.png) center left no-repeat;
}

#pager .hao123-body .gov-site {
    width: 1190px;
    margin: 0 auto;
    border: 1px solid #84d7ba;
}

#pager .hao123-body .gov-site .title {
    display: block;
    width: 80px;
    color: #0aa770;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}

#pager .hao123-body .gov-site .title-line {
    vertical-align: top;
    height: 20px;
    width: 1px;
    background-color: #eaeaea;
    position: relative;
    top: 9px;
    margin-right: 36px;
    float: left;
}

#pager .hao123-body .gov-site .govsite-item {
    float: left;
    margin-right: 25px;
}

#pager .hao123-body .gov-site .govsite-item .govsite-link {
    height: 40px;
    line-height: 40px;
    color: #333;
}

#pager .content {
    margin-top: 10px;
}

#pager .content .content-left {
    float: left;
}

#pager .content .content-left .wslider {
    width: 280px;
    border: 1px solid #cecece;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

#pager .content .content-left .wslider .wslider-item {
    width: 1390px;
}

#pager .content .content-left .wslider .wslider-item .item-pic {
    float: left;
    height: 70px;
}

#pager .content .content-left .wslider .wslider-item .item-pic img {
    width: 278px;
    height: 70px;
}

#pager .content .content-left .wslider .wslider-item .arrow-prev {
    left: 0;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 42px;
    background: #000 url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/Hz/mn/Ev/BX/8z/2/index_menus_widthlg.png) -31px -422px;
    margin-top: -21px;
    cursor: pointer;
    opacity: .6;
    background-position: 0 -422px;
    display: none;
}

#pager .content .content-left .wslider .wslider-item .arrow-next {
    right: 0;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 42px;
    background: #000 url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/Hz/mn/Ev/BX/8z/2/index_menus_widthlg.png) -31px -422px;
    margin-top: -21px;
    cursor: pointer;
    opacity: .6;
    display: none;
}

#pager .content .content-left .aoyun {
    border: 1px solid #e7003c;
}

#pager .content .content-left .aoyun .aoyun2016-tab {
    width: 278px;
    height: 50px;
    background: url(https://gss0.bdstatic.com/5eR1dDebRNRTm2_p8IuM_a/v5/0W/Xr/rZ/3H/yw/7/bg_top.png) 0 0 no-repeat;
}

#pager .content .content-left .aoyun .aoyun2016-tab .aoyun-tab-logo {
    width: 54px;
    height: 36px;
    float: left;
    margin: 9px 11px 0 9px;
}

#pager .content .content-left .aoyun .aoyun2016-tab .aoyun-tab-main {
    float: left;
}

#pager .content .content-left .aoyun .aoyun2016-tab .aoyun-tab-main .main-ranking {
    float: left;
    height: 26px;
    line-height: 26px;
    position: relative;
    margin-bottom: 6px;
}

.main-ranking .icon-gold {
    position: absolute;
    display: block;
    width: 110px;
    height: 26px;
    top: -3px;
    right: 25px;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/EQ/ca/4-/w3/AR/6/icon_aoyun2016.png) 0 0 no-repeat;
}

.main-ranking .ranking {
    display: inline-block;
    zoom: 1;
    color: #e7003c;
    cursor: pointer;
    height: 14px;
    line-height: 14px;
    padding-right: 3px;
    margin-right: 1px;
    width: 33px;
    font-size: 12px;
}

.main-ranking .country {
    color: #eff0f0;
    margin-right: 15px;
    font-size: 12px;
}

.main-ranking .num {
    display: inline-block;
    zoom: 1;
    color: #ffcd46;
    margin-right: 6px;
    width: 26px;
    text-align: center;
    font-size: 12px;
}

.#pager .content .content-left .aoyun .aoyun2016-tab .aoyun-tab-main .main-lable {
    height: 14px;
    margin-left: 6px;
    line-height: 14px;
}

#pager .content .content-left .aoyun .aoyun2016-tab .aoyun-tab-main .main-lable a {
    float: left;
    color: #e7003c;
    margin-right: 21px;
    font-size: 12px;
}

#pager .content .content-left .aoyun .aoyun-2016-text {
    padding: 14px 13px 6px 18px;
}

#pager .content .content-left .aoyun .aoyun-2016-text .list {
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 12px;
    overflow: hidden;
}

#pager .content .content-left .aoyun .aoyun-2016-text .list .span {
    float: left;
    width: 0;
    height: 0;
    border: 1px solid #333;
    margin: 6px 7px 0 0;
    overflow: hidden;
}

#pager .content .content-left .aoyun .aoyun-2016-text .list a {
    margin-right: 7px;
    float: left;
    color: #333;
    font-size: 14px;
}

#pager .content .content-left .aoyun .aoyun-2016-text .list a:hover {
    color: #f60;
    text-decoration: underline;
}

#pager .content .content-right {
    float: right;
    width: 900px;
    border: 1px solid #cecece;
}

#pager .content .content-right .box-site .site-item-list .site-item {
    display: block;
    float: left;
    width: 130px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin-right: 4px;
    padding-left: 9px;
    position: relative;
    margin-top:5px;
}

#pager .content .content-right .box-site .site-item-list .site-item .site-item-logo {
    float: left;
    padding-left: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

#pager .content .content-right .box-site .site-item-list .site-item a {
    float: left;
    padding-left: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

#pager .content .content-right .box-site .site-item-list .site-item span {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 20px;
}



#pager .content .content-right .box-site .site-item-list .site-item .bubbleicon {
    background-image: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/TL/Gb/Os/Er/fJ/3/bubble.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 34px;
    height: 28px;
    top: 0px;
    right:-4px;
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
    padding-top: 2px;
    padding-right: 2px;
    line-height: 13px;
    _line-height: 14px;
    vertical-align: top;
    color: #ff3c00;
    text-decoration: none;
    cursor: pointer;
    float:left;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.cf:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
