* {
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:visited {
    display: block;
    text-decoration: none;
    color: #999;
    outline: 0;
}

#pager .header-shell {
    border-bottom: 1px solid #F4F4F4;
}

#pager .header {
    width: 1190px;
    height: 60px;
    margin: 0 auto;
}

#pager .header .hao123-logo {
    float: left;
}

#pager .header .hao123-logo a img {
    width: 190px;
    height: 60px;
}

#pager .header .hao123-col .weather {
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

#pager .header .hao123-col .weather:hover {
    background-color: #F7F7F7;
}

#pager .header .hao123-col .weather a {
    display: block;
    float: left;
    line-height: 60px;
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    height: 60px;
}

#pager .header .hao123-col .weather .weahterinfo-temperature {
    font-family: 'arial';
    margin-left: 8px;
}

#pager .header .hao123-col .weather .weather-pm25 span {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    background-color: #ccc;
    color: #fff;
    border-radius: 2px;
}

#pager .header .hao123-col .calendar {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .header .hao123-col .calendar a {
    display: inline-block;
    font-size: 12px;
    height: 60px;
}

#pager .header .hao123-col .hao123-star {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .header .hao123-col .hao123-star span {
    display: inline-block;
    font-size: 12px;
    height: 60px;
}

#pager .header .hao123-links {
    float: right;
}

#pager .header .hao123-links div {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .header .hao123-links span {
    display: block;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    height: 60px;
}

#pager .header .head-joke {
    float: right;
    margin-left: 20px;
    line-height: 60px;
    height: 60px;
    color: #999;
    cursor: pointer;
}

#pager .search-panel {
    width: 1190px;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
}

#pager .search-panel .search {
    width: 800px;
    height: 60px;
    margin: 0 auto;
}

#pager .search-panel .baidu-logo {
    float: left;
}

#pager .search-panel .baidu-logo a {
    width: 120px;
    height: 40px;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/0W/zO/-A/q4/0Z/4/index_widthlg.png) -10px -212px no-repeat;
}

#pager .search-panel .form-shell {
    float: left;
    margin-left: 20px;
    position: relative;
}

#pager .search-panel .form-shell .input-shell {
    border: 1px solid #666;
    border-right: 0;
    width: 540px;
    height: 46px;
    line-height: 46px;
    float: left;
}

#pager .search-panel .form-shell .input-shell input {
    width: 480px;
    height: 23px;
    margin: 0 0 0 65px;
    border: 0;
    outline: 0;
    font: 16px arial;
}

#pager .search-panel .form-shell .button-shell {
    float: left;
}

#pager .search-panel .form-shell .button-shell input {
    width: 120px;
    height: 46px;
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/0W/zO/-A/q4/0Z/4/index_widthlg.png) no-repeat -211px -180px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

#pager .search-panel .form-shell .menu {
    position: absolute;
    height: 46px;
    line-height: 46px;
    margin-left: 10px;
}

#pager .search-panel .form-shell .menu span {
    font: normal 12px/45px simsun;
}

#pager .search-panel .form-shell .menu-tab {
    position: absolute;
    border: 1px solid #666;
    top: 45px;
    background-color: #fff;
    border-top: 0;
    display:none;
}

#pager .search-panel .form-shell .menu-tab a {
    padding-left: 10px;
    font: normal 12px/24px simsun;
    width: 45px;
    height: 24px;
}

#pager .search-panel .form-shell .menu-tab a:hover{
    background:#f1f1f1;
    color:#999;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
